@using Lab23Shop.Models
 




Welcome 
@ViewBag.User.


<form action="~/Home/Buy">
    <input style="display:none;" name="Id" value="1" />
    <input type="submit" value="Elite Leggins $29.99" />
    
</form>